.calculator {
  &__wraper {
    padding: 62px 100px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 180px;
    height: 50px;
  }
}

.dropdown {
  &__btn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    width: 380px;
    outline: none;
    color: #3A3A3A;
    padding: 14px 16px;
    font-family: $fontSize;
    line-height: $fontLH;
    margin: 0px 20px 0px 0px;
    background: #F9FAFC;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
    transition: 0.3s;
    &::after {
      content: url(../img/small-arrow--down.svg);
      transition: 0.3s;
    }
    &:active {
      border: 1px solid $mainColor;
      &::after {
        content: url(../img/small-arrow--up.svg);
        transform: rotate(180deg);
      }
    }
    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    }
  }
  &__content {
    display: none;
    position: absolute;
    background: #F9FAFC;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
    a {
      float: none;
      color: $lowercaseTextColor;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }
}
.show {
  display: block;
}