.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
  box-shadow: 0 .125rem .25rem rgba(32, 108, 164, 0.16);
  border-bottom: 1px solid rgba(32, 108, 164, 0.2);
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 88px;
    max-width: $maxWidthContainer + px;
    @media (max-width:$md1+px) {
      padding: 0px 40px;
    }
  }
  &__logo img{
    position: relative;
    z-index: 3;
    max-width: 100%;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.menu{
  &__body {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-top: 6px;
  }
  &__contact {
    margin: 0px 15px 0px 30px;
    transition: .3s ease;
    &:hover {
      opacity: 0.4;
    }
    a {
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: $lowercaseTextColor;
      img {
        margin: -2px 5px 0 0;
      }
      @media (max-width: $md3+px) {
        font-size: 30px;
        font-weight: 400;
        justify-content: center;
        img {
          display: none;
        }
      }
    }
  }
  &__list {
    display: flex;
    height: 23px;
    & li {
      margin-left: 15px;
    }
  }
  &__link {
    color: $lowercaseTextColor;
    font-family: $fontFamily;
    font-size: 15px;
    line-height: $fontLH;
  }
  button {
    height: 35px;
    margin-top: -6px;
    margin-left: 30px;
    font-family: $fontFamily;
    font-size: 15px;
    line-height: $fontLH;
    color: $lowercaseTextColor;
    font-weight: 700;
    background-color: inherit;
    border-radius: 10px;
    border: 2px solid #63718E;
    transition: color .3s linear;
    @media (min-width: $md3+px) {
      &:hover {
        border: none;
        background-color: $mainColor;
        color: #ffffff;
      }
    }
  }
  &__button--download {
    width: 114px;
  }
  &__button--sign-up {
    width: 104px;
  }
}