.i-mac {
  min-height: 856px;
  &__container {
    display: flex;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__content {
    width: 50%;
    @media (max-width:$md3+px) {
      order: 1;
      width: 100%;
    }
  }
  &__title {
    margin: 198px 20px 20px 0px;
    @media (max-width:$md3+px) {
      margin-top: 80px;
      line-height: 120%;
    }
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  &__images {
    width: 50%;
    position: relative;
    & img {
      position: absolute;
      top: 106px;
      left: 40px;
      @media (max-width:$md3+px) {
        top: 40px;
      }
    }
    @media (max-width:$md3+px) {
      order: 2;
      width: 70%;
      top: 0px;
      right: 0px;
      margin-left: 70px;
    }
  }
}
// !!!---------- .i-mac ends ----------!!!

.watch {
  height: 680px;
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__images {
    width: 50%;
    position: relative;
    .notice {
      bottom: -60px;
      right: 0px;
    }
    @media (max-width:$md3+px) {
      width: 100%;
      order: 2;
    }
  }
  &__content {
    width: 45%;
    @media (max-width:$md3+px) {
      width: 100%;
      order: 1;
    }
  }
  &__title {
    margin: 74px 20px 20px 0px;
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
}
// !!!---------- .watch ends ----------!!!

.card-reader {
  height: 700px;
  margin-top: 100px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 45%;
  }
  &__title {
    margin: 100px 20px 20px 0px;
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 96px 0px 50px 200px!important;
  }
  &__link {
    font-family: Epilogue;
    font-size: 22px;
    line-height: 52px;
    color: $lowercaseTextColor;
    position: relative;
    transition: all 0.2s ease;
    // transition: color 0.4s ease;
    &:after {
      content:"";
      display: block;
      height: 1px;
      background-color: $lowercaseTextColor;
      position: absolute;
      top: 50%;
      left: -50px;
      width: 20px;
      transition: all 0.3s ease;
    }
    &:hover {
      color: $mainColor;
      font-weight: 600;
      letter-spacing: 1px;
      &:after {
        content:"";
        display: block;
        height: 2px;
        background-color: $mainColor;
        width: 40px;
      }
    }
  }
  &__images {
    width: 50%;
    img {
      margin-bottom:34px;
    }
  }
  &__text--image {
    width: 80%;
    margin-left: 50px;
  }
}
// !!!---------- .card-reader ends ----------!!!

.headphones {
  height: 680px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 45%;
    // margin-left: 30px;
  }
  &__title {
    margin: 110px 20px 30px 0px;
  }
  &__text {
    margin-left: 40px!important;
    position: relative;
    li:before {
      position: absolute;
      left: -40px;
      content: ' \25CF';
      font-size: 30px;
      line-height: 60%;
      color: $uppercaseTextColor;
    }
    li {
      margin-bottom: 30px;
    }
    margin: 0px 20px 30px 0px;
  }
  &__images {
    width: 50%;
  }
}
// !!!---------- .headphones ends ----------!!!

.folder {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__wrap--top {
    display: flex;
    justify-content: space-between;
  }
  &__wrap--bottom {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 0px 48px;
    height: 338px;
    &.wrap {
      position: relative;
      & img[alt="background"] {
        position: absolute;
        left: 48px;
        bottom: 0px;
        width: 100%;
        z-index: 1;
      }
    }
    .wrap {
      width: 50%;
      .notice {
        left: 52px;
        top: 6px;
      }
    }
    .folder__text {
      position: relative;
      right: 0px;
      bottom: -40px;
      width: 50%;
    }
  }
  &__content {
    width: 45%;
  }
  &__title {
    margin: 130px 20px 20px 0px;
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  &__images {
    width: 50%;
    & img {
      margin-left: 50px;
      width: 100%;
    }
  }
}
// !!!---------- .folder ends ----------!!!