.i-mac {
  min-height: 856px;
  @media (max-width:$md6+px) {
    padding: 0 10px;
  }
  &__container {
    display: flex;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__content {
    width: 50%;
    @media (max-width:$md3+px) {
      order: 1;
      width: 100%;
    }
  }
  &__title {
    margin: 198px 20px 20px 0px;
    @media (max-width:$md3+px) {
      margin-top: 50px;
      line-height: 120%;
    }
    @media (max-width:$md4+px) {
      margin-top: 30px;
    }
    @media (max-width:$md5+px) {
      width: 100%;
    }
  }
  &__text {
    margin: 0px 20px 30px 0px;
    @media (max-width:$md5+px) {
      width: 100%;
    }
  }
  &__btn {
    @media (max-width:$md5+px) {
      width: 100%;
    }
  }
  &__images {
    width: 50%;
    position: relative;
    & img {
      position: absolute;
      top: 106px;
      left: 40px;
      @media (max-width:$md3+px) {
        top: 40px;
      }
      @media (max-width:$md4+px) {
        top: 50px;
      }
      @media (max-width:$md5+px) {
        top: 30px;
        left: 30px;
      }
    }
    @media (max-width:$md3+px) {
      order: 2;
      width: 70%;
      top: 0px;
      right: 0px;
      margin-left: 70px;
    }
    @media (max-width:$md5+px) {
      width: 90%;
      margin-left: 0px;
    }
  }
}
// !!!---------- .i-mac ends ----------!!!

.watch {
  height: 680px;
  @media (max-width:$md5+px) {
    margin-bottom: 70px;
  }
  @media (max-width:$md6+px) {
    margin-bottom: 80px;
    padding: 0 10px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__images {
    width: 50%;
    position: relative;
    @media (max-width:$md3+px) {
      width: 90%;
      order: 2;
      left: -70px;
      top: 30px;
    }
    @media (max-width:$md4+px) {
      width: 100%;
      order: 2;
      left: -110px;
      top: 30px;
    }
    @media (max-width:$md5+px) {
      left: 0px;
      top: 20px;
    }
    .notice {
      bottom: -60px;
      right: 0px;
      @media (max-width:$md3+px) {
        top: 90px;
        right: -140px;
      }
      @media (max-width:$md5+px) {
        left: 0px;
        top: 250px;
        width: 100%;
      }
      @media (max-width:$md6+px) {
        top: 150px;
      }
    }
  }
  &__content {
    width: 45%;
    @media (max-width:$md3+px) {
      width: 100%;
      order: 1;
    }
  }
  &__title {
    margin: 74px 20px 20px 0px;
    @media (max-width:$md3+px) {
      margin-top: 0px;
    }
    @media (max-width:$md5+px) {
      width: 100%;
    }
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  @media (max-width:$md3+px) {
    min-height: 820px;
    margin-top: 50px;
  }
  @media (max-width:$md5+px) {
    width: 100%;
  }
}
// !!!---------- .watch ends ----------!!!

.card-reader {
  height: 700px;
  margin-top: 100px;
  @media (max-width:$md3+px) {
    height: 710px;
    margin-top: 0px;
  }
  @media (max-width:$md3+px) {
    height: 780px;
    margin-top: 0px;
  }
  @media (max-width:$md6+px) {
    padding: 0 10px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px) {
      flex-direction: column;
      position: relative;
    }
  }
  &__content {
    width: 45%;
    @media (max-width:$md3+px) {
      order: 1;
      width: 100%;
    }
  }
  &__title {
    margin: 100px 20px 20px 0px;
    @media (max-width:$md3+px) {
      margin-top: 20px;
    }
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 96px 0px 50px 200px!important;
    @media (max-width:$md3+px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0px 200px 20px 0px!important;
      position: absolute;
      bottom: -20px;
      left: 0px;
      li:not(:last-child) {
        margin-right: 20px;
      }
    }
    @media (max-width:$md4+px) {
      margin: 0px 0px 20px 0px!important;
    }
  }
  &__link {
    font-family: Epilogue;
    font-size: 22px;
    line-height: 52px;
    color: $lowercaseTextColor;
    position: relative;
    transition: all 0.2s ease;
    @media (max-width:$md3+px) {
      font-size: 16px;
      font-weight: 400;
      &:active {
        color: $mainColor;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    &:after {
      content:"";
      display: block;
      height: 1px;
      background-color: $lowercaseTextColor;
      position: absolute;
      top: 50%;
      left: -50px;
      width: 20px;
      transition: all 0.3s ease;
      @media (max-width:$md3+px) {
        visibility: hidden;
      }
    }
    &:hover {
      color: $mainColor;
      font-weight: 600;
      letter-spacing: 1px;
      &:after {
        content:"";
        display: block;
        height: 2px;
        background-color: $mainColor;
        width: 40px;
      }
    }
  }
  &__images {
    width: 50%;
    @media (max-width:$md3+px) {
      order: 2;
      width: 70%;
      align-self: center;
    }
    @media (max-width:$md4+px) {
      width: 90%;
    }
    img {
      margin-bottom:34px;
      @media (max-width:$md3+px) {
        position: relative;
        top: 0px;
        left: -60px;
        margin-bottom: 60px;
      }
    }
  }
  &__text--image {
    width: 80%;
    margin-left: 50px;
    @media (max-width:$md3+px) {
      position: absolute;
      right: 0px;
      left: 0px;
      width: 100%;
      margin-left: 0px;
    }
  }
}
// !!!---------- .card-reader ends ----------!!!

.headphones {
  height: 680px;
  @media (max-width:$md3+px) {
    margin-top: 20px;
    height: 790px;
    min-height: 790px;
  }
  @media (max-width:$md4+px) {
    height: 760px;
    min-height: 760px;
  }
  @media (max-width:$md6+px) {
    padding: 0 10px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__content {
    width: 45%;
    @media (max-width:$md3+px) {
      width: 100%;
      order: 2;
    }
  }
  &__title {
    margin: 110px 20px 30px 0px;
    @media (max-width:$md3+px) {
      margin-top: 20px;
    }
  }
  &__text {
    margin-left: 40px!important;
    position: relative;
    li:before {
      position: absolute;
      left: -40px;
      content: ' \25CF';
      font-size: 30px;
      line-height: 60%;
      color: $uppercaseTextColor;
    }
    li {
      margin-bottom: 30px;
    }
    margin: 0px 20px 30px 0px;
  }
  &__images {
    width: 50%;
    @media (max-width:$md3+px) {
      width: 70%;
      align-self: center;
      order: 1;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
}
// !!!---------- .headphones ends ----------!!!

.folder {
  @media (max-width:$md3+px) {
    height: 1280px;
    min-height: 1280px;
  }
  @media (max-width:$md4+px) {
    height: 1340px;
    min-height: 1340px;
  }
  @media (max-width:$md6+px) {
    padding: 0 10px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__wrap--top {
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }
  &__wrap--bottom {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 0px 48px;
    height: 338px;
    @media (max-width:$md3+px) {
      flex-direction: column;
      margin-top: 20px;
      margin-left: 0px;
    }
    &.wrap {
      position: relative;
      & img[alt="background"] {
        position: absolute;
        left: 48px;
        bottom: 0px;
        width: 100%;
        z-index: 1;
        @media (max-width:$md3+px) {
          left: 60px;
        }
      }
    }
    .wrap {
      width: 50%;
      @media (max-width:$md3+px) {
        height: 240px;
      }
      .notice {
        left: 52px;
        top: 6px;
        @media (max-width:$md3+px) {
          left: 72px;
          top: 36px;
        }
      }
    }
    .folder__text {
      position: relative;
      right: 0px;
      bottom: -40px;
      width: 50%;
      @media (max-width:$md3+px) {
        width: 100%;
        order: 2;
        margin-top: 10px;
      }
      @media (max-width:$md4+px) {
        margin-top: 60px;
      }
    }
  }
  &__content {
    width: 45%;
    @media (max-width:$md3+px) {
      width: 100%;
      order: 2;
    }
  }
  &__title {
    margin: 130px 20px 20px 0px;
    @media (max-width:$md3+px) {
      margin-top: 20px;
    }
  }
  &__text {
    margin: 0px 20px 30px 0px;
  }
  &__images {
    width: 50%;
    @media (max-width:$md3+px) {
      width: 80%;
      order: 1;
      margin-top: 60px;
    }
    @media (max-width:$md4+px) {
      width: 100%;
      margin: 0px;
    }
    & img {
      margin-left: 50px;
      width: 100%;
      @media (max-width:$md4+px) {
        margin: 0px;
      }
    }
  }
}
// !!!---------- .folder ends ----------!!!