.multisteps {
  margin: 130px 0px 0px 0px;
  @media (max-width:$md3+px) {
    margin-top: 60px;
  }

  .container {
    @media (max-width:$md3+px) {
      padding: 0px;
    }
    >h2,
    >p {
      text-align: center;
    }

    >p {
      margin: 0 auto;
      width: 50%;
      margin-top: 20px;
      @media (max-width:$md3+px) {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}

//multisteps progress styles
.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  &--wraper {
    margin-bottom: 60px;
    @media (max-width:$md3+px) {
      margin-bottom: 30px;
    }
    @media (max-width:$md5+px) {
      margin-bottom: 20px;
    }
  }
}

.multisteps-form__progress-btn {
  @include transition-mix($duration: .15s);

  position: relative;
  height: 90px;
  color: #BAD9E7;
  font-family: Epilogue;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;

  text-indent: -9999px;

  border: none;
  background-color: transparent;
  outline: none !important;

  cursor: pointer;

  & span {
    position: relative;
  }

  & .btn-iner--number {
    z-index: 3;
    bottom: 16px;
    left: 23px;
  }

  & .btn-iner--number-step {
    position: relative;
    top: 30px;
    right: 6px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: 320px) {
    text-indent: 0;
  }


  //circle decoration
  &:before {
    @include position-absolute($top: 6px, $left: 50%);

    display: block;
    width: 40px;
    height: 40px;

    content: '';

    transform: translateX(-50%);

    transition: all .15s linear 0s,
      transform .15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border-radius: 50%;
    background-color: #E8F8FF;

    box-sizing: border-box;

    z-index: 3;
  }

  //line decoration
  &:after {
    @include position-absolute($top: 24px, $left: calc(-40% - #{5px} / 2));
    @include transition-mix($duration: .15s);

    display: block;
    width: 262px;
    height: 2px;

    content: '';

    background-color: #E8F8FF;

    z-index: 1;
    @media (max-width:$md3+px) {
      @include position-absolute($top: 24px, $left: calc(-30% - #{5px} / 2));
      width: 110px;
    }
    @media (max-width:$md4+px) {
      @include position-absolute($top: 24px, $left: calc(-26% - #{5px} / 2));
      width: 72px;
    }
    @media (max-width:$md5+px) {
      @include position-absolute($top: 24px, $left: calc(-20% - #{5px} / 2));
      width: 60px;
    }
    @media (max-width:510px) {
      @include position-absolute($top: 24px, $left: calc(-19% - #{5px} / 2));
      width: 50px;
    }
    @media (max-width:$md6+px) {
      @include position-absolute($top: 24px, $left: calc(-16% - #{5px} / 2));
      width: 40px;
    }
    @media (max-width:390px) {
      @include position-absolute($top: 24px, $left: calc(-15% - #{5px} / 2));
      width: 30px;
    }
    @media (max-width:340px) {
      @include position-absolute($top: 24px, $left: calc(-12% - #{5px} / 2));
      width: 22px;
    }
  }

  //last child - without line decoration
  &:first-child {

    &:after {
      display: none;
    }
  }

  //active styles
  &.js-active {
    color: #FEE5FF;

    &:before {
      transform: translateX(-50%) scale(1.2);

      background-color: currentColor;
    }

    &:after {
      background-color: $mainColor;
    }

    & span {
      color: $mainColor;
    }
  }
}

//multisteps form styles
.multisteps-form {
  &__form {
    position: relative;
  }

  &__content {
    width: 48%;
    margin: 34px 1% 0px;
    text-align: left;
    ol {
      list-style-type: none;
      counter-reset: num;
      padding-left: 0px;
      li::before {
        content: counter(num) '. ';
        counter-increment: num;
        color: $mainColor;
        font-weight: 600;
      }
    }
  }

  h2 {
    display: flex;
    align-self: start;
  }

  &__notice {
    span {
      color: $mainColor;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
  }
}



//multisteps panels styles
.multisteps-form__panel {
  @include position-absolute($top: 0, $left: 0);

  width: 100%;
  height: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  @media (max-width:$md3+px) {
    flex-direction: column;
  }
  h3 {
    @media (max-width:$md3+px) {
      order: 1;
    }
    display: inline-block;
    position: absolute;
    left: 1%;
  }
  .content-left {
    .card-reader {
      &__list {
        margin: 20px 0px 50px 50px !important;
        @media (max-width:$md3+px) {
          display: flex;
          flex-basis: 100px;
          height: 50px;
          margin: 20px 0px 0px 0px!important;
          top: 40px;
          left: 0px;
        }
      }
      &__link {
        @media (max-width:$md3+px) {
          line-height: 20px;
        }
      }
    }
    @media (max-width:$md3+px) {
      order: 2;
      width: 100%;
      height: 100px;
      position: relative;
    }
  }
  .content-right {
    @media (max-width:$md3+px) {
      order: 3;
      width: 100%;
      margin-top: 0px;
    }
  }
  @media (max-width:$md3+px) {
    flex-direction: column;
  }

  //active panels
  &.js-active {
    height: auto;

    opacity: 1;
    visibility: visible;
  }

  //scaleOut animation
  &[data-animation="scaleOut"] {
    transform: scale(1.1);

    &.js-active {
      @include transition-mix;

      transform: scale(1);
    }
  }

  //slideHorz animation
  &[data-animation="slideHorz"] {
    left: 50px;

    &.js-active {
      @include transition-mix($duration: .25s, $timing: cubic-bezier(0.2, 1.13, 0.38, 1.43));

      left: 0;
    }
  }

  //slideVert animation
  &[data-animation="slideVert"] {
    top: 30px;

    &.js-active {
      @include transition-mix();

      top: 0;
    }
  }

  //fadeIn animation
  &[data-animation="fadeIn"] {


    &.js-active {
      @include transition-mix($duration: .3s);
    }
  }

  //scaleOut
  &[data-animation="scaleIn"] {
    transform: scale(.9);

    &.js-active {
      @include transition-mix;

      transform: scale(1);
    }
  }
}

.overflow-hidden {
  margin: 46px 0px 0px 0px;
  @media (max-width:$md3+px) {
    margin-top: 20px;
  }
}