// <reset> --------------------------------------------
@import 'reset';
// </reset> -------------------------------------------

// <mixins> -------------------------------------------
@import 'mixins';
// </mixins> ------------------------------------------

// <vendors>   ----------------------------------------
// </ vendors> ----------------------------------------

// <fonts> --------------------------------------------
//&display=swap
//&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,700&display=swap);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import 'fonts';
// </fonts> -------------------------------------------

// <variables> ----------------------------------------
@import 'variables';
@import 'components';
// </variables> ---------------------------------------

// <other styles> -------------------------------------
@import 'header';
@import 'search';
@import 'burger';
@import 'main';
@import 'calculator';
@import 'calculator';
@import 'multisteps';
@import 'reviews';
@import 'faq';
@import 'footer';
// </other styles> ------------------------------------

body {
  max-width: $maxWidth + px;
  background-color: #FFFFFF;
  font-family: $fontFamily;
  font-size: $fontSize;
  height: 100%;
}

.main {
  margin-top: 90px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: $maxWidthContainer + px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $md1+px) {
    max-width: 1320px;
  }

  @media (min-width: $md2+px) {
    max-width: 1140px;
  }

  @media (min-width: $md3+px) {
    max-width: 960px;
  }

  @media (min-width: $md4+px) {
    max-width: 720px;
  }

  @media (min-width: $md5+px) {
    max-width: 520px;
    padding: 0 10px;
  }

  @media (min-width: $md6+px) {
    max-width: none;
    padding: 0 10px;
  }
}