$fontFamily:'Open Sans';
$fontSize: 18;
$fontLH: 150%;
$mainColor: #C774EE;
$uppercaseTextColor: #111563;
$lowercaseTextColor: #63718E;

$maxWidth: 1920;
$minWidth: 320px;
$maxWidthContainer: 1180;
$md1: 1400;
$md2: 1200;
$md3: 992;
$md4: 768;
$md5: 576;
$md6: 320;